@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import "tailwindcss";


@theme {
    --color-primary-green: #4CAF4F;
    --color-light-grey: #717171;
    --color-dark-grey: #4D4D4D;
    --font-inter: "Inter", sans-serif;
}